h1 { 
  font-size: 2.5em; 
}

h2 { 
  font-size: 1.5em; 
}

button {
  font-size: 1.5em; 
  width: 200px;
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  width: 200px;
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled,
button[disabled] {
  width: 200px;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#languageTags {
  font-size: 1.5em; 
  width: 100px;
  padding: 5px 10px;
}

textarea {
    font-size: 2em;
}

canvas {
  font-size: 2em;
}